.App {
  text-align: center;
  background-image: linear-gradient(to right, #fefae0, #dda15e, #fefae0);
}

.body {
  font-family: "Anton", sans-serif;
}

.card-title {
  font: 500 1.25rem "Anton", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#606c38, #fefae0);
  padding: 20px 0;
  color: #fefae0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #283618, #fefae0);
  color: white;
}

.jumbotron h2 {
  color: #606c38;
}

.navbar {
  background-color: #fefae0;
  color: #283618;
}

link {
  color: #283618;
}
